main

{{#if theUser}}
<div>
Welcome, {{theUser.username}}
<img src="https://static.boredpanda.com/blog/wp-content/uploads/2018/04/5acb63d83493f__700-png.jpg" alt="funny cat image">
<a href="/">home</a>
<a href="/private">private page</a>
</div>
{{/if}}
