{{#if theUser}}
<h1>This page is private</h1>
<div>
Welcome, {{theUser.username}}
<img src="https://vignette.wikia.nocookie.net/overwatch/images/2/24/Pharah_touchdown.gif/revision/latest?cb=20160824122135" alt="funny cat image">
<a href="/">home</a>
</div>
{{/if}}
